.App {
  background: whitesmoke;
  color: #222;
}

.header {
  padding: 1rem 2.5rem;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  a {
    text-decoration: none;
  }

  .navList {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-right: 2rem; // Adjust the space between items as needed

        &:last-child {
          margin-right: 0;
        }

        &.login,
        &.signup {
          margin-right: 0.5rem; // Reset right margin for these items
          margin-left: 1rem; // Add left margin to separate from the rest of the items

          &:first-child {
            margin-left: 0.5rem;
          }
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
}

.sect1 {
  padding: 120px 2.5rem;
  background-color: #fdf2ec;
  justify-content: center;
  align-items: center;
  display: flex;

  .spanH {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 46px;
    font-weight: 400;
    line-height: 150%;
  }

  .spOne {
    background-color: #ffcd9f;
    border-radius: 16px;
    padding: 6px 12px;
    line-height: 100%;
    display: inline-block;
  }

  .spTwo {
    background-color: #e3b4fa;
    border-radius: 16px;
    padding: 6px 12px;
    line-height: 100%;
    display: inline-block;
  }

  .spThree {
    background-color: #b4dcfa;
    border-radius: 16px;
    padding: 6px 12px;
    line-height: 100%;
    display: inline-block;
  }

  .s1Grid {
    padding: 150px 2.5rem 120px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    width: 80%;
  }

  .s1Buttons {
    margin-top: 20px;
    text-decoration: none;
  }

  .s1GH2 {
    max-width: 480px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 151%;
  }
  .s1UnderGrid {
    text-align: center;
    margin: 0 auto;
    font-size: 42px;
    font-weight: 500;
    line-height: 150%;
  }

  .logoGrid {
    grid-column-gap: 51px;
    grid-row-gap: 32px;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    display: grid;
  }

  .tableH2 {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    line-height: 100%;
  }
  /* table grid attempt that didn't quite work, but may want to try again.
  .tableGrid {
    border: 1px solid #b4dcfa;
    background-color: #fff;
    border-radius: 10px;
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: clip;
  }
*/
  .tableContainer {
    border: 1px solid #b4dcfa;
    background-color: #fff;
    border-radius: 10px;
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
  }

  .tableGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding: 10px;
  }

  .tableCell {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
}
.sect2 {
  background-color: #f8f3ff;
  padding: 120px 2.5rem;

  .sect2H2 {
    text-align: center;
    margin: 0 auto;
    font-size: 42px;
    font-weight: 500;
    line-height: 150%;
    max-width: 800px;
    margin-bottom: 40px;
  }

  .sect2CardGrid {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
  }

  .card1Vlt {
    box-shadow: 4px 4px 0 0 #e3b4fa;
    background-color: #fff;
    border: 3px solid #e3b4fa;
    border-radius: 50px;
    align-items: center;
    height: 100%;
    padding: 40px;
    display: inline-block;
  }

  .card1LTxt {
    color: #222;
    background-color: #e3b4fa;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    max-width: 189px;
    padding: 16px;
    font-size: 32px;
    line-height: 130%;
    display: inline-block;
  }
  .cardRTxt {
    color: #222;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    display: inline;
  }

  .card2Or {
    box-shadow: 4px 4px 0 0 #ffcd9f;
    background-color: #fff;
    border: 3px solid #ffcd9f;
    border-radius: 50px;
    align-items: center;
    height: 100%;
    padding: 40px;
    display: inline-flex;
  }

  .card2LTxt {
    color: #222;
    background-color: #ffcd9f;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    max-width: 189px;
    padding: 16px;
    font-size: 32px;
    line-height: 130%;
    display: inline-block;
  }

  .card3Blu {
    box-shadow: 4px 4px 0 0 #b4dcfa;
    background-color: #fff;
    border: 3px solid #b4dcfa;
    border-radius: 50px;
    align-items: center;
    height: 100%;
    padding: 40px;
    display: flex;
  }

  .card3LTxt {
    color: #222;
    background-color: #b4dcfa;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    max-width: 189px;
    padding: 16px;
    font-size: 32px;
    line-height: 130%;
    display: inline-block;
  }

  .card4Blk {
    box-shadow: 4px 4px 0 0 #222;
    background-color: #fff;
    border: 3px solid #222;
    border-radius: 50px;
    align-items: center;
    height: 100%;
    padding: 40px;
    display: flex;
  }

  .card4LTxt {
    color: #fff;
    background-color: #222;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    max-width: 189px;
    padding: 16px;
    font-size: 32px;
    line-height: 130%;
    display: inline-block;
  }
}

.sect3 {
  background-color: #ecf7fd;
  padding: 120px 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bigText {
    color: #ff6928;
    text-align: center;
    margin-bottom: 40px;
    font-size: 200px;
    font-weight: 600;
    line-height: 120%;
  }
  .btSpan {
    margin-top: 0;
    font-size: 100px;
    line-height: 1em;
    display: block;
  }

  .btH2 {
    text-align: center;
    max-width: 1040px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 42px;
    font-weight: 500;
    line-height: 150%;
  }
}

.sect4 {
  background-color: #ffffff;
  padding: 120px 2.5rem;

  .sect4Container {
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }

  .sect4H2 {
    text-align: center;
    max-width: 790px;
    margin: 0 auto 40px;
    font-size: 42px;
    font-weight: 500;
    line-height: 120%;
  }

  .s4CardGrid {
    align-items: center;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .sect4C1 {
    background-color: #ecf7fd;
    border: 3px solid #b4dcfa;
    border-radius: 50px;
    align-items: center;
    height: 400px;
    margin-right: 80px;
    padding: 40px;
    display: flex;
    box-shadow: 4px 4px #b4dcfa;
  }

  .sect4C2 {
    background-color: #f8f3ff;
    border: 3px solid #e3b4fa;
    border-radius: 50px;
    align-items: center;
    height: 400px;
    margin-right: 80px;
    padding: 40px;
    display: flex;
    box-shadow: 4px 4px #e3b4fa;
  }

  .sect4C3 {
    background-color: #fdf2ec;
    border: 3px solid #ffcd9f;
    border-radius: 50px;
    align-items: center;
    height: 400px;
    margin-right: 80px;
    padding: 40px;
    display: flex;
    box-shadow: 4px 4px #ffcd9f;
  }

  .s4Img {
    max-width: 275px;
  }
}

.sect5 {
  background-color: #ecf7fd;
  padding: 120px 2.5rem;
}

.sect6 {
  background-color: #fdf2ec;
  padding: 120px 2.5rem;
}

.sect7 {
  background-color: #fdf2ec;
  padding: 120px 2.5rem;
}

.sect8 {
  background-color: #fdf2ec;
  padding: 120px 2.5rem;
}

.sect9 {
  background-color: #ffffff;
  padding: 120px 2.5rem;
}

.sect10 {
  background-color: #222;
  color: #ffffff;
  padding: 120px 2.5rem;
}

.footer {
  background-color: transparent;
  padding: 120px 2.5rem;
}

.buttonFill {
  color: #fff;
  letter-spacing: 0;
  text-transform: none;
  white-space: nowrap;
  background-color: #ff6928;
  border: 2px solid #ff6928;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  transition: all 0.2s;
}

.buttonBorder {
  color: #222;
  text-transform: none;
  background-color: transparent;
  border: 2px solid #ff6928;
  border-radius: 8px;
  margin-right: 24px;
  padding: 10px 16px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  transition: all 0.2s;
}
